*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: utile-display, sans-serif;
}

.container-fluid {
  position: relative;
  background-color: rgba(236,98,47);
}

.banner{
  width: 100%;
  object-fit: fill;
}

.logo {
  width: 260px;
  object-fit: fill;
  filter: invert();
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#miFormulario{
  display: flex;
  justify-content: center;
}
.input-group{
  align-items: center;
  margin: 15px;
}
.container {
  display: flex;
  justify-content: space-around;
}
table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
}
th,
td {
  border: 1px solid black;
  padding: 5px 10px;
}
th {
  text-transform: capitalize;
}
td {
  text-align: right;
}
tr:hover {
  opacity: 0.8;
}
tr {
  cursor: pointer;
  background-color: rgba(236,98,47);
  color: #fff;
}
.rowPar {
  background-color: rgb(245, 245, 245);
  color: #000;
}
.spinner {
  border: 8px solid #f3f3f3; /* color del borde del spinner */
  border-top: 8px solid rgba(236,98,47); /* color de la parte superior del spinner */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite; /* animación del spinner */
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden,
.hidden-btn {
  display: none; /* clase para ocultar el spinner */
}
.headRow {
  background-color: #eb6864;
}
